backend/src/main/resources/schemas/scientific_paper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://github.com/nikolina97/xws-tim16-siit-2019"
    xmlns:sp="https://github.com/nikolina97/xws-tim16-siit-2019"
    xmlns="https://github.com/nikolina97/xws-tim16-siit-2019" vc:maxVersion="1.1"
    vc:minVersion="1.0" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">
    <xs:include schemaLocation="utils.xsd"/>
    <xs:element name="scientific_paper">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:anyAttribute namespace="##local" processContents="skip"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="authors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" ref="author"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="abstract">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="paragraph" type="TParagraph" maxOccurs="unbounded"
                                minOccurs="1"> </xs:element>
                            <xs:element name="keywords">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="keyword">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:anyAttribute namespace="##local" processContents="skip"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element name="chapters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="chapter" type="TChapter" maxOccurs="unbounded"
                                minOccurs="1"> </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="references" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="reference" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:complexContent>
                                        <xs:extension base="TReference">
                                            <xs:attribute name="id" type="xs:string" use="optional"/>
                                            <xs:anyAttribute namespace="##local" processContents="skip"/>
                                        </xs:extension>
                                    </xs:complexContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:key name="PK">
                        <xs:selector xpath="sp:reference"/>
                        <xs:field xpath="sp:ref_number"/>
                    </xs:key>
                </xs:element>
                <xs:element name="comments" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" minOccurs="1" name="comment"
                                type="TParagraph"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="category">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:anyAttribute namespace="##local" processContents="skip"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element form="qualified" minOccurs="0" name="version">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:positiveInteger">
                                <xs:anyAttribute namespace="##local" processContents="skip"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="dateReceived">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:anyAttribute namespace="##local" processContents="skip"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="dateRevised">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:anyAttribute namespace="##local" processContents="skip"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="dateAccepted">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:date">
                                <xs:anyAttribute namespace="##local" processContents="skip"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element minOccurs="0" name="state" type="TSPState"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string"/>
            <xs:anyAttribute namespace="##local" processContents="skip"/>
        </xs:complexType>
    </xs:element>
    <xs:complexType name="TChapter">
        <xs:sequence>
            <xs:element maxOccurs="1" name="subtitle">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:choice maxOccurs="unbounded">
                <xs:element name="paragraph" type="TParagraph" maxOccurs="unbounded" minOccurs="1"> </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="subchapter" type="TChapter"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="TParagraph" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element maxOccurs="unbounded" minOccurs="0" name="text" type="TDecorator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="table" type="TTable"/>
            <xs:element name="ref" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="refId" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="quote">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="from" type="xs:string"/>
                        <xs:element name="content" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="figure" type="TImage"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="formula" type="xs:string"> </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="list" type="TList"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:string" use="optional"/>
    </xs:complexType>
    <xs:complexType name="TReference">
        <xs:sequence>
            <xs:element name="ref_number">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\[\d\]"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="ref_author" type="xs:string"/>
            <xs:element name="article_name" type="xs:string"> </xs:element>
            <xs:element name="year" type="xs:positiveInteger"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TTableRow">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="td" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TImage">
        <xs:sequence>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="image" type="xs:base64Binary"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType name="TTable">
        <xs:sequence>
            <xs:element name="th" type="TTableRow" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" name="tr" type="TTableRow"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="TFormula">
        <xs:choice>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="var1" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="var2" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="add" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subtract" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="multiply" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="divide" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="equal" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="subformula" type="TFormula"/>
        </xs:choice>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="TList">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="decorator" type="TDecorator"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string"/>
    </xs:complexType>
    <xs:complexType mixed="true" name="TDecorator">
        <xs:choice maxOccurs="unbounded" minOccurs="1">
            <xs:element maxOccurs="unbounded" minOccurs="0" name="bold" type="TDecorator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="italic" type="TDecorator"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="underline" type="TDecorator"/>
        </xs:choice>
    </xs:complexType>
    <xs:element name="author" type="TPerson"/>
    <xs:simpleType name="TSPState">
        <xs:restriction base="xs:string">
            <xs:enumeration value="in_procedure"/>
            <xs:enumeration value="accepted"/>
            <xs:enumeration value="rejected"/>
            <xs:enumeration value="revoked"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
