xml/scientific_paper.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
    targetNamespace="https://github.com/nikolina97/xws-tim16-siit-2019"
    xmlns="https://github.com/nikolina97/xws-tim16-siit-2019" vc:maxVersion="1.1"
    vc:minVersion="1.0" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning">

    <xs:include schemaLocation="utils.xsd"/>
    <xs:element name="scientific_paper">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="title" type="xs:string"/>
                <xs:element name="authors">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="author"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="abstract">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="paragraph"/>
                            <xs:element name="keywords">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element maxOccurs="unbounded" name="keyword"
                                            type="xs:string"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="chapters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="chapter"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="references">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" ref="reference"/>
                        </xs:sequence>
                    </xs:complexType>
                    <xs:unique name="uniqueRefNumber">
                        <xs:selector xpath="reference"/>
                        <xs:field xpath="ref_number"/>
                    </xs:unique>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
            <xs:attribute name="received" type="xs:date"/>
            <xs:attribute name="revised" type="xs:date"/>
            <xs:attribute name="accepted" type="xs:date"/>
            <xs:attribute name="category" type="xs:string" use="required"/>
            <xs:attribute name="status" type="xs:string" use="required"/>
            <xs:attribute name="version" type="xs:string" use="required"/>
            <xs:attribute name="edition" type="xs:string" use="required"/>
            <xs:attribute name="doi">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="/^10.\d{4,9}/[-._;()/:A-Z0-9]+$/i"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
    <xs:element name="author" type="TPerson"/>
    <xs:element name="chapter" type="TChapter"> </xs:element>
    <xs:element name="paragraph" type="TParagraph"/>
    <xs:element name="reference" type="TReference"> </xs:element>
    <xs:complexType name="TChapter">
        <xs:sequence>
            <xs:element maxOccurs="1" name="subtitle">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:minLength value="2"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:choice maxOccurs="unbounded">
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="paragraph"/>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="image">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:base64Binary">
                                <xs:attribute name="id" type="xs:ID" use="required"/>
                                <xs:attribute name="name" type="xs:string"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="table">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element minOccurs="0" name="th" type="TTableRow"/>
                            <xs:element maxOccurs="unbounded" name="tr" type="TTableRow"/>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required"/>
                        <xs:attribute name="name" type="xs:string"/>
                    </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="subchapter" type="TChapter"/>
            </xs:choice>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required"/>
        <xs:attribute name="indentation_level">
            <xs:simpleType>
                <xs:restriction base="xs:positiveInteger">
                    <xs:maxInclusive value="5"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="TParagraph" mixed="true">
        <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element name="bold" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="italic">
                            <xs:complexType mixed="true">
                                <xs:choice>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="underline"
                                        type="xs:string"> </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="underline">
                            <xs:complexType mixed="true">
                                <xs:choice>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="italic"
                                        type="xs:string"> </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="italic" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="bold">
                            <xs:complexType mixed="true">
                                <xs:choice>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="underline"
                                        type="xs:string"> </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="underline">
                            <xs:complexType mixed="true">
                                <xs:choice>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bold"
                                        type="xs:string"> </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="underline" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType mixed="true">
                    <xs:choice maxOccurs="unbounded" minOccurs="0">
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="bold">
                            <xs:complexType mixed="true">
                                <xs:choice>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="italic"
                                        type="xs:string"> </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="italic">
                            <xs:complexType mixed="true">
                                <xs:choice>
                                    <xs:element maxOccurs="unbounded" minOccurs="0" name="bold"
                                        type="xs:string"> </xs:element>
                                </xs:choice>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
            <xs:element name="ref" maxOccurs="unbounded" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\[\d\]"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="image_name" type="xs:string" maxOccurs="unbounded" minOccurs="0"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="table_name" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="quote">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="paper" type="xs:string"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="id" type="xs:ID" use="required"/>
    </xs:complexType>
    <xs:complexType name="TReference">
        <xs:sequence>
            <xs:element name="ref_number">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="\[\d\]"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="ref_author" type="xs:string"/>
            <xs:element name="article">
                <xs:complexType mixed="true">
                    <xs:sequence>
                        <xs:element name="link" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="paper" type="xs:string" use="required"/>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="year" use="required">
                        <xs:simpleType>
                            <xs:restriction base="xs:int">
                                <xs:maxInclusive value="2020"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="pages">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:pattern value="\d{1,5}-\d{1,5}"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:attribute>
                    <xs:attribute name="volume" type="xs:int"/>
                    <xs:attribute name="number" type="xs:int"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TTableRow">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="td" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
